<div class="main-container">

    
    <div class="card">
        <div class="card-header">
            <h2>Sección de comentarios</h2>
        </div>
        <div class="card-body">
                <div class="comment-container" *ngFor="let comment of comments | paginate: { itemsPerPage: 5, currentPage: p }">
                    <div class="card">
                        <div class="card-header">
                            {{comment.author}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{comment.description}}</p>
                        </div>
                    </div>
                </div>
                <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>

                <div class="card">
                    <div class="card-header">
                        Añadir nuevo comentario
                    </div>
                    <div class="card-body">
                        <textarea name="" [formControl]="commentInput" class="form-control"  id="" cols="30" rows="10"></textarea>

                        <button class="my-button" (click)="addComment()">Añadir</button>
                    </div>
                </div>
        </div>
    </div>
    
</div>