.my-container {
    min-width: 400px;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
    
}

.imageLoaded {
    height: 40px;
    width: 30px;
}

.my-store-add-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

