<div id="title-container" class="">
    <h1 class="my-4 h1-underline">Bienvenidos al portal de emprendedores</h1>
    <br>
</div>

<div class="actions-menu">
    <div class="action-item hoverable-card">
        <a routerLink="/stores/search">
            <h2>Buscador de tiendas</h2>
            <p>Busca las mejores tiendas del portal</p>
        </a>
    
    </div>
    <div class="action-item hoverable-card">
        <a routerLink="/home">Proximamente</a>
    
    </div>
    <div class="action-item hoverable-card">
        <a routerLink="/home">Proximamente</a>
    
    </div>
</div>
<app-footer></app-footer>