

<div class="main-content">
  <div class="my-5 search-container">
    <h2>Búsqueda de tiendas</h2>
    <form [formGroup]="storeSearchForm" (ngSubmit)="search()">
      <div class="my-3">
        <label for="name" class="form-label">Nombre</label>
        <input formControlName="name" type="text" class="form-control" id="name" />
        <!-- <div *ngIf="isNotValid('firstname')" class="form-text">Debes ingresar tu nombre</div> -->
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <select formControlName="category" id="category" class="form-control">
          <option [selected]="category == defaultCategory" *ngFor="let category of storeCategories"
            value="{{ category }}">
            {{ formatStoreName(category) }}
          </option>
        </select>
      </div>

      <button type="submit" class="my-button">Buscar</button>
    </form>
  </div>

  <div class="store-list my-5">
    <h2>Tiendas</h2>  
   
    <div class="hoverable-card store" *ngFor="let store of stores | paginate: { itemsPerPage: 5, currentPage: p }">
      {{store.name}}
    </div>
    <ng-template [ngIf]="stores">
      
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
    </ng-template>

  </div>
</div>