
.main-content {
    display: flex;
    flex-wrap: wrap;
}
.search-container {
    float: left;
    flex-grow: 1;
    padding: 1em;
    margin: 0 1em;
}

.store-list {
    padding: 1rem;
    flex-grow: 100;
}

.store {
}

