<h2>Mis emprendimientos</h2>

<div class="container">
        <a routerLink="/stores/create">
                <div class="store-container">
                Crear Tienda
                </div>
        </a>
        <div (click)="goToStore(store)" class="store-container" *ngFor="let store of managerStores">
                {{store.image_name}}
                <app-store-preview [name]="store.name" [description]="store.description" [imageName]="store.img_name"></app-store-preview>
        </div>
</div>
