h1 {
    text-align: center;
}

.store-container, .button-container {
    margin: 3rem; 
}

/* #store-container {
    padding: 2rem;
} */

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontainer {
    margin: 1em 3em;
    padding: 0.5em;
}

#store-name {
    font-style: italic;
}

.my-float-button {
    border: solid black 1px;
    font-size: 14px;
    padding: 0.7em;
    border-radius: 2em;
    font-weight: 400;
    box-shadow: none;
    position: fixed;
    /* font-weight: 500; */
    bottom: 2rem;
    right: 1rem;

}

.store-image {
    width: 40%;
    min-width: 200px;
}
