<div class="store-container">
    <div id="store-container" class="card">

        <div class="card-header">
            <h1>Bienvenidos a la tienda "<span id="store-name">{{store.name}}</span>" 
            
            <span id="favorite-button" class="button-container">

                <button type="button" class="my-button" (click)="addToFavorites(store.name)" >
                    Añadir a favoritos
                </button>
            </span>
    </h1>
        </div>
        <div class="card-body">
            <div class="subcontainer">
            
            
                <p>{{store.description}}</p>
                <!-- <div *ngIf="isStoreManagerViewing" >
                    
                    <button class="my-float-button my-button">Administrar</button>
                </div> -->
                <!-- <button (click)="searchImage(store.name, store.img_name)" class="">Obtener imagen</button> -->
            </div>

            
            <div class="image-container">
                
                <img class="store-image" [src]="storeImage" alt="">
            </div>
            <div class="subcontaier">
                <h2>Contactos</h2>
                <ul>
                    <li *ngFor="let manager of managers">
                        <div *ngIf="manager.profile.phoneNumber && manager.profile.phoneNumber != ''; else noNumber">
                            Dueño: {{manager.profile.firstName}} 
                            <ul>
                                <li>Contacto: {{manager.profile.phoneNumber}}</li>
                            </ul>

                        </div>
                        <ng-template #noNumber>
                            Dueño: {{manager.profile.firstName}}
                            <ul>
                                <li>Contacto: indefinido</li>
                            </ul>
                        </ng-template>

                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

<div class="comment-container">

    
    <app-comment-section [comments]="storeComments" [storeName]="store.name"></app-comment-section>
</div>